@import "../abstracts/mixin";


nav{
    background-color:#121619;
    a{
        text-align: right;     
    }
    div{
        a{
            color: white;
         }
        } 
    };

   #img_b{
    @include img_back;
       }
