@import "../abstracts/mixin";


#nav{
    background-color:#121619;
    a{
      text-align: right;     
    }
    div{ a{
         color: white;
        } } };

   #img_b{
    @include img_back;
       }

    #footer{
        @include foot;
        padding-top:2rem;
        padding-bottom:2rem;
        text-align: center;
    }

    #ico{
     position: absolute;
     bottom: 0;
      font-size: 60px;
      color: white;
    }
    

    #prev{
      border-top-left-radius: 90px;
      border-bottom-left-radius: 90px;
    }

    #next{
      border-top-right-radius: 90px;
      border-bottom-right-radius: 90px;   
    }

    #pagination{
          background-color: $color_secundario;
          padding-top: 2rem;
          padding-bottom: 1rem;
    }

    #pelos{
padding-top: 3rem;
padding-bottom: 5rem;
  }

